html {
    scroll-behavior: smooth;
}

/* body{ 
    color:#008000;
    background-color: blanchedalmond;
} */

body {
    margin: 0;
    padding: 0;
    background-color: #171616;
    border: 20px solid #B3AEAE;
}

::-webkit-scrollbar {
    display: none;
}

/* Polices */

@font-face {
    font-family: AstonScript;
    src: url(Polices/aston_script/Aston\ Script.ttf);
}

@font-face {
    font-family: King;
    src: url(Polices/king/KIN668.TTF);
}

@font-face {
    font-family: Minecraft;
    src: url(Polices/minecraft/Minecraft.ttf);
}

@font-face {
    font-family: digital;
    src: url(Polices/digital_7/digital-7\ \(italic\).ttf);
}

/*HEADER*/
#titrepage {
    font-family: AstonScript;
    font-size: 5vw;
    text-align: center;
    color: #E8E8E9;
}

.navpage {
    height: 12vh;
    font-family: King;
    font-size: 20px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #E8E8E9;
    margin: 0px;
}

#bot {
    margin-right: 35px;
}

header {
    background-image: url("Img/IMG_6115 cropped.jpg");
    background-size: cover;
    height: 100vh;
}

header a {
    color: #E8E8E9;
}

#bouton-ctr{
    text-align: center;
}

#bouton_start {
    font-family: Minecraft;
    font-size: 18px;
    background-color: #352a2a;
    color: black;
    text-shadow: 0 2px 0 black / 25%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 0;
    z-index: 1;
    user-select: none;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    white-space: unset;
    padding: 0.8rem 1.5rem;
    text-decoration: none;
    font-weight: 900;
    transition: all 0.7s cubic-bezier(0, 0.8, 0.26, 0.99);
}

#bouton_start:before {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    transition: 0.7s cubic-bezier(0, 0.8, 0.26, 0.99);
    z-index: -1;
    background-color: #d9d9d9 !important;
    box-shadow: 0 -4px #343a40 inset,
        0 4px #6c757d inset, -4px 0 #403d39 inset,
        4px 0 #495057 inset;
}

#bouton_start:after {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    box-shadow: 0 4px 0 0 rgb(0 0 0 / 15%);
    transition: 0.7s cubic-bezier(0, 0.8, 0.26, 0.99);
}

#bouton_start:hover:before {
    box-shadow: 0 -4px rgb(0 0 0 / 50%) inset, 0 4px rgb(255 255 255 / 20%) inset,
        -4px 0 rgb(255 255 255 / 20%) inset, 4px 0 rgb(0 0 0 / 50%) inset;
}

#bouton_start:hover:after {
    box-shadow: 0 4px 0 0 rgb(0 0 0 / 15%);
}

#bouton_start:active {
    transform: translateY(4px);
}

#bouton_start:active:after {
    box-shadow: 0 0px 0 0 rgb(0 0 0 / 15%);
}

h2 {
    font-family: digital;
    font-size: 50px;
    color: #2B5832;
    overflow: hidden;
    border-right: .15em solid #2B5832;
    white-space: nowrap;
    display: inline-block;
}

.section-header {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
}

.run-animation {
    animation: typing 3.5s steps(25, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    50% { border-color: transparent; }
    51% { border-color: #2B5832; }
}

.deroule {
    font-family: Digital;
    font-size: 50px;
    color: #2B5832;
    cursor: pointer;
}

.description ul {
    position: absolute;
    font-size: 20px;
    bottom: 0;
    left: 40%;
    list-style: none;
    color: #2B5832;
    width: 40vw;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
    font-family: Digital;
}

.description ul li {
    padding: 10px 20px;
}

.description ul.open {
    max-height: 500px;
}

.description {
    position: relative;
}

.description ul {
    transform: translateX(-50%);
}

/*PARCOURS*/
#section_parcours{
    height: 100vh;
}

h3 {
    margin: 0px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: stretch;
  align-content: stretch;
  gap: 8px;
}


.barre {
    height: 3vh;
    width: 10vw;
    background-color: #bbb;
    border-radius: 20px;
    display: inline-block;
    margin: 0px;
}

.blocs{
    margin: 0px;
    color: white;
    text-align: center;
}

/*PROJETS*/
#section_projets{
    height: 100vh;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 4px;
  height: 80vh;
}

.container div{
    width: 15vw;
    height: 50vh;
    border-radius: 10px;
    background-color: white;
    transition: transform 0.9s ease-in-out;
    transform-origin: center center;
}

.container div:hover{
    background-color: green;
    cursor: crosshair;
}

.zoom {
  transform: scale(1.5);
}


/*PORTFOLIO*/
#section_portfolio{
    position: relative;
    height: 100vh;
}

.carousel {
    margin: 100px auto;
    width: 100%;
    display: flex;
    overflow-x: auto;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: spin 15s infinite linear;
    padding-right: 1em;
}

.card {
    flex: 0 0 10em;
    height: 5em;
    padding: 1em;
    background: cornflowerblue;
    font-size: 3em;
    border-radius: .2em;
    text-align: center;
    align-content: center;
}

@keyframes spin {
    from {translate: 0;}
    to {translate: -100%;}
}

#roll {
    display: flex;
    white-space: nowrap;
    overflow: hidden;
}

.roll {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: spin 2s infinite linear;
    padding-right: 1em;
}

#roll span {
    color: #2B5832;
    font-size: 50px;
    padding: 0 2rem;
    padding-top: 10rem;
    padding-bottom: 10rem;
    padding: 0px;
    bottom: 0;
}

@keyframes spin {
    from {translate: 0;}
    to {translate: -100%;}
}

/*A PROPOS*/
#section_a-propos{
    position: relative;
    height: 100vh;
}

#a-propos {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: min(20vw, 30vw);
    aspect-ratio: 1 / 1;
    object-fit: cover;
    margin: 3vw;
}

#txt1 {
    position: absolute;
    color: #E8E8E9;
    width: 40vw;
    text-align: center;
    font-family: King;
    font-size: larger;
    left: 5vw;
    top: 10vh;
}

#txt2 {
    position: absolute;
    color: #E8E8E9;
    width: 40vw;
    text-align: center;
    font-family: King;
    font-size: larger;
    right: 5vw;
    top: 30vh;
}

#contacts {
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: #E8E8E9;
    font-family: King;
    font-size: min(14vw, 30vw);
    text-align: right;
    margin-bottom: min(80px, 30vw);
}